[Unit]
Description=DNS service
# Take care not to run the DNS server because it is only required when
# providing the wireless hotspot, and in that case a special instance
# will be to service wlan0 only.

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
