[Unit]
Wants=dhcpd.service
Wants=dnsmasq.service
[Service]
Type=idle
ExecStart=/bin/hotspot.sh
KillMode=mixed
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hotspot
[Install]
WantedBy=multi-user.target
