[Unit]
Description=Send Log on demand

[Service]
EnvironmentFile=/tmp/logfields
ExecStart=/usr/bin/node /volumio/logsubmit.js
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target
