[Unit]
Description = Volumio Cpu Tweaker
After=volumio.service

[Service]
ExecStart=/bin/volumio_cpu_tweak
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio-cpu-tweak
User=root
Group=root

[Install]
WantedBy=multi-user.target

