[Unit]
Description=Volumio SSH enabler
ConditionPathExistsGlob=/boot/ssh{,.txt}

[Service]
Type=oneshot
ExecStartPre=echo "SSH file found, enabling SSH"
ExecStart=/bin/sh -c "systemctl enable --now ssh"
SyslogIdentifier=volumiossh

[Install]
WantedBy=multi-user.target

