[Service]
ExecStart=/usr/local/bin/node /volumio/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=volumio
Group=volumio
Environment=NODE_ENV=production
Wants=dynamicswap.service

[Install]
WantedBy=multi-user.target

