[Unit]
# If the hotspot service is started, also start the DHCP and DNS services.
# Schedule those services to be started only after the hotspot itself is
# running.
PartOf=wireless.service
Wants=wireless-hotspot-dnsmasq.service
Before=wireless-hotspot-dnsmasq.service

[Service]
Type=idle
ExecStart=/bin/hotspot.sh wlan0
KillMode=mixed
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wifi-hotspot
