[Unit]
Description=Volumio Wireless Services
Before=volumio.service

[Service]
Type=idle
ExecStartPre=-/sbin/iw dev wlan0 set power_save off
ExecStart=/volumio/app/plugins/system_controller/network/wireless.js
KillMode=mixed
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
