ACTION=="add", SUBSYSTEM=="net", SUBSYSTEMS=="usb", ENV{DEVTYPE}=="wlan", ATTR{type}=="1", KERNEL=="wlan*", KERNEL!="wlan0", RUN+="/bin/rename_netiface0.sh '%E{INTERFACE}'"
ACTION=="add", SUBSYSTEM=="net", SUBSYSTEMS=="usb", ENV{DEVTYPE}!="wlan", ATTR{type}=="1", KERNEL=="eth*", KERNEL!="eth0", RUN+="/bin/rename_netiface0.sh '%E{INTERFACE}'"
