language: bash

sudo: false

addons:
  apt:
    sources:
    - debian-sid
    packages:
    - shellcheck
    - findutils

script:
 - find . -iname "*.sh" -exec shellcheck "{}" \;

matrix:
  fast_finish: true
