[Unit]
Description = dynamicswap service
DefaultDependencies=false

Before=swap.target umount.target
Conflicts=umount.target
Wants=swap.target

[Service]
ExecStart=/bin/dynswap.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=root
Group=root

[Install]
WantedBy=multi-user.target

